[submodule "libCJSON"]
	path = libCJSON
	url = https://github.com/DaveGamble/cJSON
[submodule "TinyXML2"]
	path = TinyXML2
	url = https://github.com/leethomason/tinyxml2
[submodule "ImGUI"]
	path = ImGUI
	url = https://github.com/ocornut/imgui.git
