[submodule "libCJSON"]
	path = libCJSON
	url = https://github.com/DaveGamble/cJSON
[submodule "TinyXML2"]
	path = TinyXML2
	url = https://github.com/leethomason/tinyxml2
[submodule "ImGUI"]
	path = ImGUI
	url = https://github.com/ocornut/imgui.git
[submodule "irdb/Flipper-IRDB"]
	path = irdb/Flipper-IRDB
	url = https://github.com/Lucaslhm/Flipper-IRDB
[submodule "include/stb"]
	path = include/stb
	url = https://github.com/nothings/stb
[submodule "ImGUI_extensions/implot"]
	path = ImGUI_extensions/implot
	url = https://github.com/epezent/implot
[submodule "ImGUI_extensions/ImGuiFileDialog"]
	path = ImGUI_extensions/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
